/*on app_home_oppened*/
app.event("app_home_opened", async ({ event, client, context }) => {
  try {
    /* view.publish is the method that your app uses to push a view to the Home tab */
    const result = await client.views.publish({
      /* the user that opened your app's app home */
      user_id: event.user,

      /* the view object that appears in the app home*/
      view: {
        type: "home",
        callback_id: "home_view",

/* body of the view */
"blocks": [
  {
    "type": "header",
    "text": {
      "type": "plain_text",
      "text": "Hi, I'm Sarabot. Welcome to my home!",
      "emoji": true
    }
  },
  {
    "type": "divider"
  },
  {
    "type": "section",
    "text": {
      "type": "mrkdwn",
      "text": "Working remotely can be lonely. I'm here to spark some fun in your team's channels and facilitate meaningful conversations between you and your colleagues. Check out some of my features below."
    },
    "accessory": {
      "type": "image",
      "image_url": "https://sdk.bitmoji.com/render/panel/63792a53-bf54-49f9-a538-7076cd924728-df0bf4e6-040d-4d35-9902-8b77c6b9017f-v1.png?transparent=1&palette=1",
      "alt_text": "sarabot cards"
    }
  },
  {
    "type": "divider"
  },
  {
    "type": "section",
    "text": {
      "type": "mrkdwn",
      "text": "⚡ Slash Commands"
    }
  },
  {
    "type": "section",
    "text": {
      "type": "mrkdwn",
      "text": "*/quickquestion*\nPrompts a multiple choice question to gage interests in various topics and match users with similar interests."
    }
  },
  {
    "type": "section",
    "text": {
      "type": "mrkdwn",
      "text": "*/convostarter*\nPrompts an open ended question to spark conversations in a channel."
    }
  },
  {
    "type": "section",
    "text": {
      "type": "mrkdwn",
      "text": "*/game*\nProvides users with links to online games that vary in objective and number of players."
    }
  },
  {
    "type": "section",
    "text": {
      "type": "mrkdwn",
      "text": "*/weather*\n Type in a city after this command to see what the weather is like in that city (COMING SOON)."
    }
  },
  {
    "type": "divider"
  },
  {
    "type": "section",
    "text": {
      "type": "mrkdwn",
      "text": "💬 Convo Starter Configurations (COMING SOON)"
    }
  },
  {
    "type": "section",
    "text": {
      "type": "plain_text",
      "text": "Use the settings below to configure how frequently you would like Sarabot to provide conversation starters in a channel.",
      "emoji": true
    }
  },
  {
    "type": "actions",
    "elements": [
      {
        "type": "channels_select",
        "placeholder": {
        "type": "plain_text",
        "text": "Select a channel",
        "emoji": true
        },
        "action_id": "actionId-1"
      },
      {
        "type": "static_select",
        "placeholder": {
          "type": "plain_text",
          "text": "Frequency",
          "emoji": true
        },
        "options": [
        {
          "text": {
            "type": "plain_text",
            "text": "Daily",
            "emoji": true
          },
          "value": "value-0"
        },
        {
          "text": {
            "type": "plain_text",
            "text": "Weekly",
            "emoji": true
          },
          "value": "value-1"
        },
        {
          "text": {
            "type": "plain_text",
            "text": "Biweekly",
            "emoji": true
          },
          "value": "value-3"
        },
        {
          "text": {
            "type": "plain_text",
            "text": "Monthly",
            "emoji": true
          },
          "value": "value-4"
        },
        {
          "text": {
            "type": "plain_text",
            "text": "Off",
            "emoji": true
          },
          "value": "value-5"
        }
        ],
      "action_id": "actionId-3"
      }
    ]
  },
  {
    "type": "actions",
    "elements": [
      {
        "type": "button",
        "text": {
          "type": "plain_text",
          "text": "Submit",
          "emoji": true
        },
        "value": "click_me_123",
        "action_id": "actionId-0"
      }
    ]
  },
  {
    "type": "divider"
  },
  {
    "type": "section",
    "text": {
      "type": "mrkdwn",
      "text": "➕ Want to add your own question? (COMMING SOON)"
    }
  },
  {
    "type": "section",
    "text": {
      "type": "plain_text",
      "text": "Submit a form to add a question to the database.",
      "emoji": true
    }
  },
  {
    "type": "input",
    "element": {
      "type": "plain_text_input",
      "action_id": "plain_text_input-action"
    },
    "label": {
      "type": "plain_text",
      "text": "Question",
      "emoji": true
    }
  },
  {
  "type": "input",
  "element": {
    "type": "static_select",
    "placeholder": {
      "type": "plain_text",
      "text": "Select",
      "emoji": true
    },
    "options": [
      {
      "text": {
        "type": "plain_text",
        "text": "General",
        "emoji": true
      },
      "value": "value-0"
      },
      {
      "text": {
        "type": "plain_text",
        "text": "Working Style",
        "emoji": true
      },
      "value": "value-1"
      },
      {
      "text": {
        "type": "plain_text",
        "text": "Fun",
        "emoji": true
      },
      "value": "value-2"
      },
      {
      "text": {
        "type": "plain_text",
        "text": "Mentor",
        "emoji": true
      },
      "value": "value-3"
      },
      {
      "text": {
        "type": "plain_text",
        "text": "Direct Report/Boss",
        "emoji": true
      },
      "value": "value-4"
      }
    ],
    "action_id": "static_select-action"
    },
    "label": {
      "type": "plain_text",
      "text": "Category",
      "emoji": true
    }
  },
  {
    "type": "actions",
    "elements": [
      {
      "type": "button",
      "text": {
        "type": "plain_text",
        "text": "Submit",
        "emoji": true
      },
      "value": "click_me_123",
      "action_id": "actionId-0"
      }
    ]
  },
  {
    "type": "divider"
  },
  {
  "type": "context",
    "elements": [
    {
      "type": "mrkdwn",
      "text": "For questions, comments, and suggestions please contact us at sarabotslack@gmail.com"
    }
    ]
  }
]
}
});
} catch (error) {
console.error(error);
}
});
